{% extends 'navbar.html' %}
{% block header %}
    <title>Създайте ново ястие</title>

<section id="index-headline">
    <div class="index-message">
        <div class="plant-card">
            <h1>Създайте ново ястие за <br><br>{{ day.name }}</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <br><button type="submit"><h1><span>Запис</span></h1></button>
            </form>


        </div>
        <br>
        <button>
            <h1>
                <a href="{% url 'menu' day.id %}">Назад</a>
            </h1>
        </button>
    </div>

</section>

{% endblock header %}
