{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "style/style.css" %}"/>
    <title>Създайте ново ястие</title>
</head>
<body>
<section id="index-headline">
    <div class="index-message">
        <div class="plant-card">
            <h2><span>Създайте ново ястие за {{ day.name }}</span></h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                 <button type="submit"><h1><span>Запис</span></h1></button>

            </form>


        </div>
        <button>
            <h2>
                <a href="{% url 'menu' day.id %}">Назад</a>
            </h2>
        </button>
    </div>

</section>
</body>
</html>
