{% extends 'navbar.html' %}
{% load static %}
{% block header %}

    <title>Рецепта за {{ meal.name }}</title>

    <section id="index-headline">
        <div class="index-message">
            <div class="plant-card">
                <h1><span>Ястие за {{ meal.name }}</span></h1>
                <ol>
                    <h1>{% for dish in dishes %}
                        <li>
                            <a href="{% url 'recipe_list' pk=dish.id %}">{{ dish.name }}</a>
                        </li>
                    {% empty %}
                        <li>Няма налични рецепти за това ястие.</li>
                    {% endfor %}</h1>
                </ol>

                <!-- Display the form for adding a new dish -->
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <button type="submit"><h1><span>Добави ново ястие</span></h1></button>
                </form>


            </div>
            <button>
                <h1>
                    <a href="{% url 'menu' meal.day.id %}">Назад към меню</a>
                </h1>
            </button>
        <br>
        <button>
            <h1>
                <a href="{% url 'delete_recipe' meal.id %}"> Изтрий</a>
            </h1>
        </button>
        </div>
<link rel="stylesheet" href="{% static "css/style.css" %}"/>
    </section>
{% endblock header %}