<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рецепта за {{ meal.name }}</title>
</head>
<body>
<h1>Рецепта за {{ meal.name }}</h1>
<ul>
    {% for dish in dishes %}
        <li>
            <a href="{% url 'recipe_list' pk=dish.id %}">{{ dish.name }}</a> - {{ dish.description }}
        </li>
    {% empty %}
        <li>Няма налични рецепти за това ястие.</li>
    {% endfor %}
</ul>

<!-- Display the form for adding a new dish -->
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Добави ново ястие</button>
</form>


<a href="{% url 'menu' meal.day.id %}">Назад към меню</a>
</body>
</html>
