{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "style/style.css" %}"/>
    <title>Calendar</title>
</head>

<html>
<head>
    <title>Седмичен календар</title>
{#    <style>#}
{#        .calendar {#}
{#            display: flex;#}
{#            justify-content: space-around;#}
{#            margin-top: 20px;#}
{#        }#}
{##}
{#        .day {#}
{#            padding: 20px;#}
{#            border: 1px solid #ccc;#}
{#            text-align: center;#}
{#            width: 100px;#}
{#            cursor: pointer;#}
{#            background-color: #f8f9fa;#}
{#        }#}
{##}
{#        .day:hover {#}
{#            background-color: #e9ecef;#}
{#        }#}
{#    </style>#}
</head>
<body>
<div class="plant-card">
    <div class="plant-header">
        <ul class="blog">
            {% for day in days %}
                <div>
                    <a href="{{ day.get_absolute_url }}">
                        <img src="/static/images/fruits.jpg" alt="{{ day.name }}"/>
                    </a>
{#                    <p>Menu for {{ day.name }}</p>#}
                    <a href="{{ day.get_absolute_url }}">Меню за {{ day.name }}</a>
                </div>
            {% endfor %}
        </ul>
    </div>
</div>


{#<h1>Седмичен календар</h1>#}
{##}
{#<div class="calendar">#}
{#    {% for day in days %}#}
{#        <a class="day" href="{{ day.get_absolute_url }}">{{ day.name }}</a>#}
{#    {% endfor %}#}
{#</div>#}
<div class="index-message">
<div id="index-headline">

    <button><h2><a href="{% url 'summary_shopping_list' %}">
        <span>View Summary Shopping List</span>
    </a></h2></button>
</div>
</div>
</body>
{#<a href="{% url 'menu' pk=day.pk %}">{{ day.name }} </a>#}
</html>
