{% extends 'navbar.html' %}
{% block header %}



{#    <style>#}
{#        .calendar {#}
{#            display: flex;#}
{#            justify-content: space-around;#}
{#            margin-top: 20px;#}
{#        }#}
{##}
{#        .day {#}
{#            padding: 20px;#}
{#            border: 1px solid #ccc;#}
{#            text-align: center;#}
{#            width: 100px;#}
{#            cursor: pointer;#}
{#            background-color: #f8f9fa;#}
{#        }#}
{##}
{#        .day:hover {#}
{#            background-color: #e9ecef;#}
{#        }#}
{#    </style>#}
<section id="index-headline">
{#    <div class="index-message">#}
<div class="plant-card">
        <ul class="blog">
            {% for day in days %}
                <div>
                    <a href="{{ day.get_absolute_url }}">
                        <img src="/static/images/fruits.jpg" alt="{{ day.name }}"/>
                    </a>
{#                    <p>Menu for {{ day.name }}</p>#}
                    <a href="{{ day.get_absolute_url }}">Меню за {{ day.name }}</a>
                </div>
            {% endfor %}
        </ul>
{#    </div>#}
</div>

</section>
<div class="index-message">
<div id="index-headline">

    <button><h2><a href="{% url 'summary_shopping_list' %}">
        <span>Summary Shopping List</span>
    </a></h2></button>
</div>
</div>

{% endblock header %}
