{% extends 'navbar.html' %}
{% load static %}
{% block header %}
    <title>Меню за {{ day.name }}</title>
<section id="index-headline">
    <div class="index-message">
        <div class="plant-card">
            <h1>Меню за {{ day.name }}</h1><br>

                <h1>
                    <ol>
                         {% for meal in meals %}
                            <li><a href="{% url 'dishes' meal.id %}"><span>{{ meal.name }}</span></a></li>
                    {% empty %}
                        <span>Няма налични ястия за този ден.</span>
                    {% endfor %}
                    </ol>
                </h1>

            <br>
<button>
    <h1>
        <a href="{% url 'create_meal' day.id %}">Добави хранене</a>
    </h1>
</button>
        </div>
        <br>
        <button>
            <h1><a href="{% url 'home' %}">Назад към календар</a></h1>
        </button>
    </div>

<link rel="stylesheet" href="{% static "style/style.css" %}"/>
</section>
{% endblock header %}
