<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Меню за {{ day.name }}</title>
</head>
<body>
    <h1>Меню за {{ day.name }}</h1>

    <!-- Create Menu Button -->
    <a href="{% url 'create_meal' day.id %}">
        <button>Създай меню</button>
    </a>

    <ul>
        {% for meal in meals %}
            <li>
                <a href="{% url 'dishes' meal.id %}">{{ meal.name }}</a>
            </li>
        {% empty %}
            <li>Няма налични ястия за този ден.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'home' %}">Назад към дневния календар</a>
</body>
</html>
