{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "style/style.css" %}"/>
    <title>Меню за {{ day.name }}</title>
</head>
<body>
<section id="index-headline">
    <div class="index-message">
        <div class="plant-card">
            <h3>Меню за {{ day.name }}</h3>
            <ul>
                <h1>
                    {% for meal in meals %}
                        <ol>
                            <a href="{% url 'dishes' meal.id %}"><span>{{ meal.name }}</span></a>
                        </ol>
                    {% empty %}
                        <ol><span>Няма налични ястия за този ден.</span></ol>
                    {% endfor %}
                </h1>
            </ul>
<button>
    <h2>
        <a href="{% url 'create_meal' day.id %}">Създай меню</a>
    </h2>
</button>

        </div>
        <button>
            <h1><a href="{% url 'home' %}">Назад към дневния календар</a></h1>
        </button>
    </div>


</section>
</body>
</html>
