{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token }}">

    <!-- Preconnect for external resources -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Use CDN for Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Minified and combined CSS -->
    <link href="{% static '/css/landing.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>

    <title>Menu Planning</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>
<body>
    <nav class="navbar navbar-expand-sm flex-row-reverse" id="navbar">
        {% if user.is_authenticated %}
            <ul class="navbar-nav px-3 flex-row-reverse">
                <li class="nav-item text-nowrap">
                    <a class="nav-link active" href="{% url 'logout' %}" id="log-out">
                        Sign out
                    </a>
                </li>
            </ul>
        {% else %}
            <ul class="navbar-nav">
                <li class="nav-item align-middle">
                    <a class="nav-link" href="{% url 'login' %}" id="log-in">
                        Log In
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}" id="sign-up">
                        Sign Up
                    </a>
                </li>
            </ul>
        {% endif %}
    </nav>

    <!-- Move scripts to the end -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" defer></script>
</body>
{% block header %}
{% endblock header %}
</html>
