{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <title>menu planning</title>
{#    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">#}
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static "style/style.css" %}"/>
</head>
<body>
            {% block header %}
            {% endblock header %}
</body>
</html>