{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "style/style.css" %}"/>
    <title>Рецепти за {{ dish.name }}</title>
</head>
<body>
<section id="index-headline">
    <div class="index-message">
        <div class="plant-card">
    <h1>Рецепти за {{ dish.name }}</h1>

    <ul>
        {% for recipe in recipes %}
            <li>
                <strong>{{ recipe.name }}</strong>:
                {{ recipe.description }}<br>
                <a href="{% url 'recipe_detail' recipe.id %}">Виж рецептата</a>
            </li>
        {% empty %}
            <li>Няма налични рецепти за тази категория.</li>
        {% endfor %}
    </ul>

    <!-- Form to add a new recipe -->
    <h2>Добави нова рецепта</h2>
    <form method="post" action="{% url 'recipe_list' dish.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Добави рецепта</button>
    </form>

    <a href="{% url 'dishes' dish.meal.id %}">Назад към ястия</a>

    </div>
    </div>

</section>
</body>
</html>
