<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List for {{ day.name }}</title>
</head>
<body>
    <h1>Shopping List for {{ day.name }}</h1>
    <ul>
        {% for item in shopping_list.items.all %}
            <li>
                {{ item.quantity }} {{ item.unit }} of {{ item.product.name }} (Available: {{ item.product.quantity_in_stock }} {{ item.unit }})
            </li>
        {% empty %}
            <li>No items needed for the shopping list.</li>
        {% endfor %}
    </ul>
    {{ product.name }}
    {{ quantity_required }}

    <a href="{% url 'menu' day.id %}">Back to Menu</a>
</body>
</html>
