{% extends 'navbar.html' %}
{% load static %}
{% block header %}
    <title>Summary Shopping List</title>

    <section id="index-headline">
        <div class="index-message">
            <div class="plant-card">
                <h2>Summary Shopping List</h2>

                {% if summary %}
                    <ul>
                        {% for item in summary %}
                            <h1>
                                <oli>
                                    <span>{{ item.product__name }} - {{ item.total_quantity }} {{ item.product__unit }}</span>
                                </oli>
                            </h1>
                        {% endfor %}
                    </ul>
                {% else %}
                    <br>
                    <h4>Няма продукти за пазаруване.</h4>
                {% endif %}


            </div>
            <br>
            <button>
                <h1>
                    <a href="{% url 'home' %}"><span>Назад към календар</span></a>
                </h1>
            </button>
        </div>

    </section>

{% endblock header %}
