{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "style/style.css" %}"/>
    <title>Summary Shopping List</title>
</head>
<body>
<section id="index-headline">
        <div class="index-message">
    <div class="plant-card">
    <h3>Summary Shopping List</h3>

    {% if summary %}
        <ul>
            {% for item in summary %}
                <ol>
                   <h1><span>{{ item.total_quantity }} {{ item.product__unit }} - {{ item.product__name }}</span></h1>
                </ol>
            {% endfor %}
        </ul>
    {% else %}
        <p>No products in the shopping list.</p>
    {% endif %}


</div><button><h2><a href="{% url 'home' %}">Back to Home</a></h2></button>
</div>

</section>
</body>
</html>
